root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Windows script-ek
[*.{bat,cmd,ps1}]
end_of_line = crlf
trim_trailing_whitespace = false

# Markdown: ne vágjuk a trailing whitespace-t (hard line breakhez kellhet)
[*.md]
trim_trailing_whitespace = false

# Java / Kotlin / Gradle / Groovy
[*.{java,kt,kts,gradle,groovy}]
indent_style = space
indent_size = 4

# YAML / JSON / XML / .properties / shell / SQL
[*.{yml,yaml,json,xml,properties,sh,sql}]
indent_style = space
indent_size = 2
