# Build kimenet
/build/
/out/
/target/
/.gradle/

# IDE
.idea/
*.iml
.vscode/

# Log/Temp
*.log
*.tmp
*.swp

# OS
.DS_Store
Thumbs.db

# Backup
*.bak
# Extra helyi cache mappák
/.gradle-j21/
/.gradle-jdk/
# Helyi helper mappák
/_snapshot_*/
/_keyfiles/
